html {
    box-sizing: border-box;
    min-height: 100%;
    background-color: #EFEFEF;
}

html,
body {
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    min-width: 320px;
}

a {
    color: #fff;
    font-weight: 100;
    letter-spacing: 0.081em;
    text-decoration: none;
    padding: 10px 1.6em;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}

a:hover {
    color: grey;
}

/* nav bar */

.toggleNav {
    display: none;
}

.wrapper {
    max-width: 100vw;
    margin: 0 auto;
}

.flex-nav {
    background: #050505;
    /*border: 1px solid red;*/
}

.flex-nav div {
    display: none;
}

.flex-nav ul {
    max-width: 1048px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: baseline;
}

.flex-nav .logo,
.flex-nav li {
    flex: 2;
}

.flex-nav .social {
    flex: 1;
}

.flex-nav li:nth-child(2),
.flex-nav li:nth-child(3),
.flex-nav li:nth-child(4),
.flex-nav li:nth-child(5),
.flex-nav li:nth-child(6),
.flex-nav li:nth-child(7),
.flex-nav li:nth-child(8),
.flex-nav li:nth-child(9){
    font-size: 12px;
}

/* hero section */

.hero {
    height: calc(100vh - 130px);
    background: #222;
    background: url(https://images.apple.com/v/home/df/images/heroes/iphone_alt_large.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.heroText {
    display: block;
    position: relative;
    top: 3em;
    text-align: center;
}

.heroText h1 {
    font-size: 32px;
    margin: 0 auto;
}

.heroText h2 {
    font-size: 48px;
    margin: 0 auto;
}

.heroText h1,
.heroText h2 {
    color: white;
    font-weight: 500;
    letter-spacing: .011em;
}

/* tiles below the hero section */

.tiles-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
}

.tiles-nav a {
    color: black;
    list-style: none;
    display: inline-block;
    height: 200px;
    width: 100%;
    flex: 1;
    border: 0.15em solid white;
}

.tiles-nav a:nth-child(1) {
    background: url(https://images.apple.com/v/home/df/images/promos/how_to_shoot_on_iphone_medium.jpg) no-repeat center;
}

.tiles-nav a:nth-child(2){
    background: url(https://images.apple.com/v/home/df/images/promos/watch_medium.jpg) no-repeat center;
}

.tiles-nav a:nth-child(3){
    background: url(https://images.apple.com/v/home/df/images/promos/ipad_medium.jpg) no-repeat center;
}

.tiles-nav a:nth-child(4){
    background: url(https://images.apple.com/v/home/df/images/promos/macbook_pro_medium.jpg) no-repeat center;
}

.tiles-nav li:nth-child(1),
.tiles-nav li:nth-child(2),
.tiles-nav li:nth-child(3) {
    border-right: none;
}

/* footer section */

footer {
    background-image: linear-gradient(250deg, #F2F2F2, #EFEFEF);
}

.footerSection {
    font-size: 11px;
    padding-top: 20px;
    display: flex;
    max-width: 1048px;
    margin: 0 auto;
}

.footerSection nav {
    width: calc(100vw / 5);
    list-style: none;
    flex: 1;
    /*border: 0.15em solid red;*/
}

.footerSection ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.footerSection nav:nth-child(1){
    margin-left: 5em;
}

.footerSection a {
    color: #434343;
    letter-spacing: 0.03em;
    font-size: 1em;
    padding: 3px 0 3px 0;
    text-align: left;
    display: inline;
}

.footerSection h3 {
    font-size: 11px;
    margin: 0 3px 6px 0;
    font-weight: bold;
}

.footerSection a:hover {
    color: #333;
    text-decoration: underline;
}

.footerSection li {
    margin-bottom: 6px;
}

.footerSection .space {
    margin-bottom: 15px;
}

/* footer info section */
.footerInfo {
    font-size: 11px;
    max-width: 1048px;
    margin: 0 auto;
    color: #A0A0A0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1.5em 0 1.5em 0;
    align-items: baseline;
    /*border: 1px solid red;*/
}

.footerInfo p {
    margin-left: 5em;
}

.footerInfo .visit {
    display: block;
    /*border: 1px solid black;*/
}

.footerInfo .copyright {
    display: inline;
    /*border: 1px solid orange;*/
}

.footerInfo a {
    font-size: 12px;
    color: #4796D5;
    padding: 0;
    margin: 0;
    text-align: start;
    display: inline;
    letter-spacing: 0;
}

.footerInfo a:hover {
    text-decoration: underline;
}

.footerInfo hr {
    max-width: 1048px;
    width: 90%;
    border: none;
    height: 1px;
    background-color: #A0A0A0;
    color: #EFEFEF;
    margin: 1em 2em;
}

.footerInfo nav {
    flex-wrap: nowrap;
}

.footerInfo ul {
    list-style: none;
    display: inline-flex;
    flex: 1 1 50%;
    align-items: center;
    /*border: 1px solid yellow;*/
}

.footerInfo li {
    border-left: 1px solid #A0A0A0;
}

.footerInfo li:nth-child(1),
.footerInfo li:nth-child(6) {
    border-left: none;
}

.footerInfo li:nth-child(11) {
    justify-content: flex-end;
}

.footerInfo li a {
    font-size: 11px;
    color: black;
    margin: 0 1.5em;
}

.footerInfo li a:hover {
    text-decoration: underline;
}

.footerInfo img {
    width: 2em;
    height: auto;
}

.footerInfo .img {
    display: inline-block;
}

/* 755px first mobile breakpoint */
@media screen and (max-width: 1068px) {
    .tiles-nav a {
        flex: 1 0 50%;
        width: 100%;
        height: 200px;
    }
    .flex-nav div {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .flex-nav {
        display: flex;
        flex-direction: column;
    }
    .heroText h2 {
        font-size: 40px;
        margin: 0 auto;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
    .flex-nav div {
        display: flex;
    }
    .flex-nav ul {
        display: none;
    }
    .flex-nav ul.open {
        display: block;
        /*margin: 1em auto;*/
        flex-direction: column;
        flex: 1 1 100%;
        flex-wrap: wrap;
        margin: 0;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .toggle li:nth-child(1) {
        display: none;
    }
    .flex-nav ul a {
        flex: 1 1 100%;
        flex-direction: row;
    }
    .flex-nav li {
        flex: 1 1 100%;
    }
    .flex-nav .toggleNav {
        /*border: 1px solid orange;*/
        display: block;
        flex-direction: column;
        flex: 1 1 100%;
    }
    /*.flex-nav .logo {*/
        /*border: 1px solid red;*/
        /*display: none;*/
        /*flex: 1 1 33.33333%;*/
        /*text-align: center;*/
    /*}*/

    /*.flex-nav li:nth-child(10) {*/
        /*display: none;*/
        /*flex: 1 1 33.33333%;*/
        /*border: 1px solid yellow;*/
        /*justify-content: flex-end;*/
    /*}*/
    /*.flex-nav li:nth-child(1) {*/
        /*font-size: 15px;*/
    /*}*/
    /*.flex-nav li:nth-child(2),*/
    /*.flex-nav li:nth-child(3),*/
    /*.flex-nav li:nth-child(4),*/
    /*.flex-nav li:nth-child(5),*/
    /*.flex-nav li:nth-child(6),*/
    /*.flex-nav li:nth-child(7),*/
    /*.flex-nav li:nth-child(8),*/
    /*.flex-nav li:nth-child(9) {*/
        /*display: none;*/
    /*}*/
    .footerSection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        margin-left: 3em;
    }
    .footerSection ul {
        display: block;
        padding-top: 1em;
        width: 100%;
    }
    .footerSection h3 {
        font-size: 12px;
        flex-wrap: nowrap;
        font-weight: 500;
        border-bottom: 1px solid #A0A0A0;
        width: 100%;
        padding-bottom: 0.5em;
    }
    .footerSection ul:nth-child(4) {
        border-bottom: 1px solid #A0A0A0;
    }
    .footerSection li {
        display: none;
    }
    .footerSection nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        width: 93%;
    }
    .footerSection nav ul {
        flex: 1 1 100%;
    }
    .footerSection nav:nth-child(1) {
        margin: 0;
    }
    .footerInfo {
        /*border: 1px solid red;*/
        margin-left: 1em;
    }
    .footerInfo nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .footerInfo nav ul {
        /*border: 1px solid goldenrod;*/
    }
    .footerInfo p {
        margin: 0 auto;
    }
    .footerInfo .copyright {
        /*border: 1px solid pink;*/
        margin: 0 auto;
    }
    .footerInfo img {
        /*border: 1px solid green;*/
        flex: 1 1 100%;
    }
        .footerInfo nav {
            display: flex;
        }
        .footerInfo ul {
            margin-left: calc(2em - 0.581em);
            padding-left: 0;
            justify-content: flex-start;
            order: 2;
        }
        .footerInfo p,
        .footerInfo .copyright {
            margin-left: 2em;
        }
        .footerInfo ul a {
            margin: 0 0.7em;
        }
        .footerInfo .copyright {
            justify-content: flex-start;
            order: 1;
        }
        .footerInfo .img {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            color: black;
            font-size: 11px;
            align-items: baseline;
        }
    }

@media screen and (max-width: 500px) {
        .wrapper > * {
            order: 9999;
        }
        .heroText h2 {
            font-size: 31px;
            margin: 0 auto;
        }
        .tiles-nav {
            display: flex;
            flex-direction: column;
        }
        .tiles-nav a {
            padding: 0;
        }
        .tiles-nav a:nth-child(2),
        .tiles-nav a:nth-child(3) {
            padding: 0;
        }
        .tiles-nav a {
            flex: 1 1 100%;
            border: 2px solid white;
            background-size: cover !important;
        }
        .tiles-nav li:nth-child(1),
        .tiles-nav li:nth-child(2),
        .tiles-nav li:nth-child(3) {
            border-bottom: none;
        }
        .footerInfo nav {
            display: flex;
        }
        .footerInfo ul {
            padding-left: .5em;
            margin-left: 0;
            justify-content: flex-start;
            order: 2;
        }
        .footerInfo p,
        .footerInfo .copyright {
            margin-left: 1em;
        }
        .footerInfo ul a {
            margin: 0 0.7em;
        }
        .footerInfo .copyright {
            justify-content: flex-start;
            order: 1;
        }
    }

@media screen and (max-width: 400px) {
    .footerInfo {
        margin: 0 1em;
    }
    .footerInfo p,
    .footerInfo .copyright {
        margin: 0 1.5em;
    }
    .footerInfo ul,
    .footerInfo ul a {
        margin: 0;
        padding: 0;
    }
    .footerInfo ul {
        margin-top: 1em;
        margin-left: 1em;
    }
    .footerInfo ul li {
        padding: 0 0.5em;
    }
}

@media screen and (max-width: 381px){
    .footerInfo ul {
        display: none;
    }
    .footerInfo ul li {
        padding: 0 0.03em;
    }
}